.page {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(50, 86, 75, 0.79);
  font-family: 'Inter', Arial, sans-serif;
}

.container {
  width: 90%;
  margin-top: 20%;
}

@media (min-width: 905px)  {
  .container {
    margin-top: 5%;
  }
}