.cardForChoice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e1c86c;
    border: 5px solid #e1c86c;
    border-radius: 12px;
    transition: box-shadow 0.3s;
}

.cardForChoice:nth-of-type(2n){
    margin-right: 0;
}
.cardForChoice:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #4E52B0;
}

.cardForChoice__choice {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #c0543a;
    margin: 10% 0 5%;
    background-color: #e1c86c;
    font-size: 1.1rem;
    font-weight: bold;
}
.cardForChoice__image {
    width: 70%;
    transition: transform 0.9s ease-in-out;
}
.cardForChoice__image:hover {
    transform: scale(1.084);
}

.cardForChoice__text {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1.4rem;
    margin: 5% 0 10%;
    color: #c0543a;
}
.navLink {
    text-decoration: none;
    width: 40%;
}
