.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    background: #202020;
    margin-top: 5%;
    padding: 10%;
}
.error__title {
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    color: #FFFFFF;
}
.error__text {
    margin: 3% 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 19px;
    color: #FFFFFF;
}
.error__back {
    margin-top: 10%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #4285F4;
}

@media (max-width: 385px) {
    .error__title {
        font-size: 80px;
        line-height: 97px;
    }
    .error__text, .error__back {
        font-size: 12px;
        line-height: 15px;
    }
}


