.header {
    display: block;
    position: relative;
}
.header:hover {
    cursor: default;
}

.header__text {
    font-family: Georgia, serif;
    font-size: 2rem;
    color: #e1c86c;
    position: absolute;
    bottom: 180%;
    left: 31%;
    transition: opacity 0.3s ease;
    text-decoration: none;
}
.header__text:hover {
    cursor: pointer;
    opacity: 0.5;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
    display: block;
    font: 7.5em 'Montserrat';
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
    animation-delay: -1s;
}

.text-copy:nth-child(2){
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}

@media (min-width: 905px)  {
    svg {
        font: 5.5em 'Montserrat';
    }
    .header__text {
        bottom: 100%;
        left: 45%;
    }
}